@model Flowbandit.Models.Accounts.ProfileDTO

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.IsInitialLogin)
{
    <h2>@Model.THANKS_FOR_REGISTERING_MESSAGE</h2>
}

<div class="row">
    <div class="col-md-6">
        <hr>
        <div class="form-group">
            <img class="img-circle img-responsive img-center center-block" src="http://placehold.it/300x300" alt="">
        </div>

        <div class="form-group">
            <label class="inline">Username: </label>
            <span>bobbygo</span>
        </div>
        <div class="form-group">
            <label class="inline">Member Since: </label><span>09/15/2006</span>
        </div>
        <div class="form-group">
            <h2>About You</h2>
            <p>
                Hey since you're here might as well have a look around.
                Explore what we have to offer.  Tell us what you like about a video, or tell us what you hate about a video
            </p>
        </div>
        <div></div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h3 class="inline">Most Recent Videos</h3>&nbsp;&nbsp;&nbsp;<a href="#" class="small">(see all)</a>
        @foreach (var video in Model.RecentVideos)
        {
            <hr>
            <a href="@Url.Action("Video", "Videos", new {ID = @video.ID})" class="no-deco">
                <div class="image-text-overlay center-block">
                    <img src="@video.ThumbnailUrl" alt="" />
                    <h3><span>@video.Name</span></h3>
                </div>
            </a>
        }
    </div>
    <div class='col-md-6'>
        <h3 class="inline">Most Recent Posts</h3>&nbsp;&nbsp;&nbsp;<a href="#" class="small">(see all)</a>
        @foreach (var post in Model.RecentPosts)
        {
            <hr>
            <div>
                <a href="@Url.Action("Post", "Posts", new { ID = @post.ID })" class="no-deco">
                    <div class="image-text-overlay center-block">
                        <p>
                            @post.Entry
                        </p>
                        <h3><span>@post.Title </span></h3>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
