@using Flowbandit.Models
@model DashboardVM


@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <!-- Page Content -->
<div>
    <hr>
    <div class="row">
        <div class="col-sm-8">
            <h2>What We're about</h2>
            <p>Flowbandit, a collaberation of different flows, Juggling, Magic, Poi, Dancing with one goal in mind to maintain flow.  </p>
            <p>Come, Learn, Steal Our Flow</p>
            
        </div>
        <div class="col-sm-4" style="overflow-x: hidden;">
            <h2>Contact Us</h2>
            <address>
                <strong>@GlobalInfo.CompanyName</strong>
                <br>@GlobalInfo.ContactAddressLine1
                <br>@GlobalInfo.ContactAddresLine2
                <br>
            </address>
            <address>
                <abbr title="Phone">P:</abbr>@GlobalInfo.ContactPhone
                <br>
                <abbr title="Email">E:</abbr> <a href="mailto:@GlobalInfo.ContactEmail">@GlobalInfo.ContactEmail</a>
            </address>
        </div>
    </div>
    <!-- /.row -->
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
            <h2>Come Explore</h2>
            <p>Hey since you're here might as well have a look around.  
               Explore what we have to offer.  Tell us what you like about a video, or tell us what you hate about a video</p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
            <h2>Learn</h2>
            <p>A lot of people see these video and say to themselves, I could never learn to do this, I have no coordination. 
               Those are just lame exuses most people are just afraid to try. We all have to start some where.  If you're looking for 
               a place to learn you've found the right place.     </p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
            <h2>Steal Our Flow</h2>
            <p>Most people think that it's wrong to steal flow. Now, they maybe correct in the sense that you shouldn't copying someone's whole routine.  
               However, the internet is a great tool to learn. If people never took anyone elses moves then we would never grow at all.  
               Here we encourage you to steal our flow.
             </p>
        </div>
    </div>
    <!-- /.row -->
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; @GlobalInfo.WebsiteName @DateTime.Now.Year</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>
</div>
<!-- /.container -->