@using FlowService.DTOs.Generic
@model IEnumerable<IComment>

@helper GenerateComments(IEnumerable<IComment> Comments)
{
foreach (var comment in Comments)
{
        <div class="media append-bottom">
            <a class="pull-left" href="#">
                <img class="media-object" src="@comment.UserProfilePicUrl" alt="In A comment">
            </a>
            <div class="media-body">
                <h4 class="media-heading">
                    @comment.Username;
                    <small>@comment.Created</small>
                </h4>
                @comment.CommentText


                @*
                    This Doesn't work for some reason
                    @if(com.hasChildren)
                    {
                        GenerateComments(com.Children);
                    }*@

            </div>
        </div>
    }
}
@GenerateComments(Model)


