@using Flowbandit.Models;

@model AllPostsVM


@foreach (var post in @Model.FeaturedPosts)
{
    var PostsUrl = Url.Action("Post", "Posts", new { ID = post.PostId });
    
    <div>
        <h2>
            <a href="@PostsUrl">@post.Title</a>
            @if(false == post.isVisible)
            {
                <span class="small"> (hidden)</span>
            }
        </h2>
        <p class="lead">
            by <a href="index.php">@post.Owner</a>
        </p>
        <p><span class="glyphicon glyphicon-time"></span> Posted on @post.Created.ToString()</p>
        <hr>

        @if (!string.IsNullOrEmpty(post.VirtualPhotoCoverPath))
        {
            <img class="img-responsive" src="@post.VirtualPhotoCoverPath" alt="">
            <hr>
        }

        <p>@post.Entry</p>
        <a class="btn btn-primary" href="@PostsUrl">
            Read More
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
        <hr>
    </div>
}